.color-1 {
	color: rgba(255, 255, 255, .75);
}

.background-1 {
	background: none;
}

.background-2 {
	background: rgb(255, 0, 0);
}

.background-3 {
	background: rgba(255, 0, 0, 1);
}

.background-4 {
	background: rgba(255, 0, 0, .5);
}

.background-5 {
	background-color: rgba(255, 0, 0, .5);
}

.background-6 {
	background: #ff0000;
	background: rgba(255, 0, 0, 1);
}

.border-1 {
	border: 1px solid rgba(255, 0, 0, 1);
}

.border-2 {
	border-top: 1px solid rgba(0, 0, 255, 1);
	border-right: 1px solid rgba(0, 255, 0, 1);
	border-bottom: 1px solid rgba(255, 0, 0, 1);
	border-left: 1px solid rgba(255, 255, 0, 1);
}

.border-3 {
	border-top-color: rgba(0, 0, 255, 1);
	border-right-color: rgba(0, 255, 0, 1);
	border-bottom-color: rgba(255, 0, 0, 1);
	border-left-color: rgba(255, 255, 0, 1);
}

.box-shadow-1 {
	box-shadow: rgba(0, 0, 0, .5);
}
