.foo {
  background: #000;
  background: rgba(153, 221, 153, 0.8);
  font-size:1px;
  color: #ffffff;
  color: rgba(0, 0, 0, .4);
  box-shadow: rgba(122,189,0,.4);
}
foo {
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.bar {
    background-color: orange;
    background-color: rgba(0, 0, 0, 0.5);
}
bar {
    background-color: rgb(128, 128, 128);
    background-color: rgba(0, 0, 0, 0.5);
}
