body {
  background: #99dd99;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#cc99dd99,endColorStr=#cc99dd99)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#cc99dd99,endColorStr=#cc99dd99);
  background: rgba(153, 221, 153, 0.8);
  font-size:1px;
  border: solid 1px #646667;
  border: solid 1px rgba(100,102,103,.3);
  color: #000000;
  color: rgba(0, 0, 0, .4);
}
